<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des personnes</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>

<h1>Liste des personnes</h1>
<a href="/person/0">
    <button type="button">CREER</button>
</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>GET</th>
        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${personnes}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.firstName}"></td>
        <td th:text="${person.lastName}"></td>
        <td>
            <a th:href="@{/person/{id}(id=${person.id})}">
                <button type="button">Voir</button>
            </a>
        </td>
        <td>
            <a th:href="@{/delete/{id}(id=${person.id})}">
                <button type="button">Voir</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
